body {
  background: url(../images/white-bg.jpg) left top repeat;
  /*color: #000305;*/
/*  font-size: 95.5%;*/
  /*7.5% of 14px*/
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
	overflow: auto;
	overflow-x: hidden;
  animation-name: fade;
  animation-duration: 1.5s;
    width: 100%;
      height: 100%;

}

html {
  width: 100%;
  height: 100%;
}

h1.hone {
	margin: 0 0 35px;
	font-family: Arial, 'Lucida Sans Unicode';
	font-weight: 400;
	font-size: 50px;
	letter-spacing: 1px;
	animation-name: title;
	color: #333333;
	animation-duration: 2s;
	position: relative;
}

.custom-theme-bg {
	background:#ffffff !important;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-inner h3 {
  font-size: 60px;
}

 #myCarousel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.item img {
  width: 100%;
  height: 100% !important;
}

.carousel-caption {
  text-align: left;
  left: 0;
  background: #000;
  margin: 0 !important;
  height: 8%;
  bottom: 0;
  padding: 0 10px;
  right: 0;
}

.carousel-control {
  width: 5% !important;
  height: 92%;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.portfolionew .carousel-caption {
  top: 30%;
}

.portfolionew .carousel-indicators {
  bottom: 15%;
}

.portfolionew .carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top: 40%;
}

.btn-default {
  outline: none;
}


/*portfolio carousel*/

.title {
  display: block !important;
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}


/* Standard syntax */

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}


/*.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  margin-top: -10%;

}*/

#livetimes {
  color: #333333;
  float: left;
/*  margin-top: -10%;*/
  font-size: 30px;
}

#buttons {
  float: right;
/*  margin-top: -10%;*/
}

#share-buttons img {
  width:40px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

#share-buttons {
/*
  margin-top: -10%;
  margin-left: 46.5%;
*/
    text-align: center;
  animation-name: enter;
  animation-duration: 2s;
  position: relative;
}


.custom-search-button
{
background: #7cc576 !important;
border: 1px solid #7cc576 !important;
color: #fff !important;}
.customnavform{ margin-right: -15px !important; margin-left: -15px !important;}

/*.theme {
	color: #FFF;
	float: right;
	margin-top: -10%;
	margin-right: 7%;
}

.switch input {
	display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}



.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7cc576;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7cc576;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
*/


/* Rounded sliders */


/*.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/




/*team PAGE*/
.team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.team-members .team-avatar {
    position: relative;
}

.team-members .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.team-members .team-desc {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.team-members .team-desc h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #fff;
}

.team-members .team-desc span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.team-members:hover .team-avatar:after {
    background: rgba(47, 60, 72, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members:hover .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.team-members:hover .team-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
/*team PAGE*/


/*ABOUT PAGE*/
.page-title-new {
	padding-bottom: 30px;
	text-align: center;
	padding-top: 30px;
  position: relative;
  animation-name: title; 
    animation-duration: 3s;

}

.page-title-new h2 {
	font-weight: 700;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.page-title-new span {
	position: relative;
	display: block;
	color: #838383;
}

.page-title-new h2:after {
	background: #333;
	position: absolute;
	content: '';
	height: 2px;
	top:89px;
	width: 80px;
	left: 46.5%;
}
.aboutslider,
.about-content {
	padding: 60px 0;
  animation-name: title;
    animation-duration: 3s;
    position: relative;
}

.about-content p {
	margin: 0;
	padding: 0 10px 10px;
	letter-spacing: 0.5px;
	color: #838383;
	font-size: 13px;
}

.about-box {
	border: 1px solid #e4e4e4;
	margin: 30px 0 50px;
	padding: 20px;
	position: relative;
}

.about-box:after {
	background: #7cc576;
	content: '';
	width: 3px;
	left: -3px;
	top: 20px;
	position: absolute;
	height: 30px;
}

.about-box h2 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	padding: 0
}

.about-box p {
	margin: 0;
	padding: 5px 0 10px;
	letter-spacing: 0.5px;
	color: #838383;
	font-size: 13px;
}

/*ABOUT PAGE*/










/*pricing table */

.price_table {
	background-color: #e68a00;
	overflow: hidden;
}

.price_column {
	margin: 10px 0 0;
}


/**Heading**/

.price_heading {
	background-color: #ffcc80;
}


/**Columns**/

.price_table:hover {
	background-color: #88d781;
	overflow: hidden;
}


/**Unordered List**/

.price_lines {
	background-color: #7cc576;
	margin: 0;
	padding: 0;
}

.price_linea {
	background-color: white;
	color: #7cc576;
}


/**Button**/

.price_table .price_button .btn-default {
	background-color: white;
	margin: 10px;
}


.price_linea {
	display: inline-block !important;
	padding: 10px;
	width: 100%;
}

.price_lineb {
	display: inline-block !important;
	padding: 10px;
	background-color: #7cc576 !important;
	width: 100%;
  color: #FFF;
}

.price_table {
	background-color: #7cc576;
	margin-bottom: 40px;
    margin-top: 40px;
}

.price_table {
	border: 0px solid transparent;
	border-radius: 0;
	box-shadow: 0px 1px 4px #B0B0B0;
}

.price_heading {
	margin: 0;
	padding: 0;
}

.price_heading {
	background-color: white;
	/*    border: 1px solid #29a39f;*/
}


/*pricing table */


.lheader {
  text-align: center;
/*  background: url(../images/pw_maze_black_2X.png) left top repeat;*/
/*
  padding: 280px 0;
  height: 200px;
  margin-top: -7%;
  margin-bottom: 20%;
*/
}

.logo {
/*  width: 25%;*/
  margin: 0 auto;
}

.hone {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 22px 0;
  color: #fff;
  animation-name: title;
  animation-duration: 2s;
  position: relative;
}

@keyframes title {
  0% {
    opacity: 0;
    left: -200px;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}

.we-create {
  padding: 0;
  margin: 35px 0 55px;
}

@keyframes subheading {
  0% {
    opacity: 0;
    right: -200px;
    bottom: 0px;
  }
  100% {
    opacity: 1;
    right: 0px;
    top: 0px;
  }
}

.we-create li {
  color: #333333;
  list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  /*gets rid of bullet points infont of the names*/
  animation-name: subheading;
  animation-duration: 2s;
  position: relative;
}

.link {
  padding: 15px 35px;
  background: #7cc576;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  animation-name: enter;
  animation-duration: 2s;
  position: relative;
}

@keyframes enter {
  0% {
    opacity: 0;
    right: 0px;
    bottom: -200px;
  }
  100% {
    opacity: 1;
    right: 0px;
    bottom: 0px;
  }
}

.link:hover {
  text-decoration: none;
  color: #7cc576 !important;
  background: #fff;
}

.link:active,
.link:focus {
  background: #7cc576;
  text-decoration: none;
  color: #fff !important;
}

a {
  text-decoration: none;
}


/*a:link, a:visited {
	color: #CF5C3F;

}

a:hover, a:H {
	background-color: #CF5C3F;
	color: #FFF;
}*/



#slideshow {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  animation-name: slidecontent;
  animation-duration: 4s;
}

@keyframes slidecontent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-weight: bold;
  text-shadow: 0 0 10px #FFF;
  /* 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/margin-top: 10px;
  float: left;
  color: #FFF;
/*
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
*/
  background-color: #7cc576;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  border/*visible on webkit based browser*/
}

.title a p {
  margin: 4% 0% 0% 0%;
  color: #FFF;
  float: left;
}

.supportlogo2 {
  width: 11%;
  float: left;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 5%;
}

.supportlogo {
  background-image: url("../images/sblack.png");
  background-repeat: no-repeat;
  width:256px;
  height: 255px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
}

.supportlogo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


/*.time {
	float: left;
	color: #FFF;
}
*/

.content article header h2 p {
  color: #666;
}

.top-sidebar article h2 {
  color: #666;
}

.middle-sidebar article h2 {
  color: #666;
}

.bottom-sidebar article h2 {
  color: #666;
}

#demo {
  font-size: 95.5%;
}

.mainHeader {
  width: 100%;
/*  margin-top:30px;*/
  height: 60px;
}

.mainHeader nav {
  /*	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
/*
  width: 42.5%;
  margin-top: 2%;
  margin-bottom: 2%;
*/

/*  float: left;*/
/*  height: 40px;*/
  border-radius: 5px;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  border/*visible on webkit based browser*/
}

.navbar-custom .navbar-toggle {
	color: white;
	z-index: 999999;
	background-color:#333 !important;
	/*  font-size: 12px;*/
}

.mainHeader nav ul {
  list-style: none;
  /*gets rid of bullet points infont of the names*/
  margin: 0 auto;
	margin: 5px 0;
}

.mainHeader ul li {
  float: left;
  display: inline;
margin: 0 3px 0;
}

.custom-bg{background: none !important; border: none !important; margin-bottom:5px !important; margin-top:5px !important;}

.mainHeader nav a:link,
.mainHeader nav a:visited {
  color: #fff !important;
  display: inline-block;
  padding: 10px 20px;
 
  background: #7cc576;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
  text-decoration: none;
  color: #7cc576 !important;
  background: #fff !important;
	box-shadow: 0px 0px 1px #333;
}

#ppage {
  display: none;
}

#mh {
  display: none;
}

.mainHeader nav a:focus{background:red;}

.mainHeader nav a, .mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav a:visited {
    text-decoration:none;
}

.mainHeader nav ul li a {
  border-radius: 5px;
  float: left;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  border/*visible on webkit based browser*/
}



.mainContent {
  line-height: 25px;
    display: block !important;

  border-radius: 5px;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  border/*visible on webkit based browser*/
}

.content {
/*  width: 70%;*/
  float: left;
/*  margin-top: -1%;*/
}

.topContent,
.middleContent,
.bottomContent {
  background-color: #FFF;
box-shadow:0px 0px 2px #8F8F8F;	
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding:25px 20px;
  margin:10px 0 0;
  min-height: 130px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  /*visible on webkit based browser*/
  animation-name: mcontent;
  animation-duration: 2s;
  position: relative;
}

@keyframes mcontent {
  0% {
    opacity: 0;
    left: -300px;
    bottom: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}

#topContent header h2 p,#middleContent header h2 p,#bottomContent header h2 p{ color: #666 !important;}
#topContent h2,#middleContent h2,#bottomContent h2{margin: 0; padding: 0;}
#topContent h2 p,#middleContent h2 p,#bottomContent h2 p{margin: 0; padding: 0;}
,#sidebar .top-sidebar h1,#sidebar .middle-sidebar h1#sidebar .bottom-sidebar h1{margin: 0; padding: 0;  color: #666;}
#sidebar .top-sidebar,#sidebar .middle-sidebar,#sidebar .bottom-sidebar{margin:10px 0 0; padding:25px 20px;}
#sidebar .top-sidebar h1,#sidebar .middle-sidebar h1,#sidebar .bottom-sidebar h1{font-size:30px; color: #666;}
#sidebar h1{margin: 0;}
#sidebar .top-sidebar p,#sidebar .middle-sidebar p,#sidebar .bottom-sidebar p{margin: 0; padding:10px 0; font-size:14px;}
#topContent content p,#middleContent content p,#bottomContent content p{font-size:14px;}
.top-sidebar,
.middle-sidebar,
.bottom-sidebar {
/*  width: 22%;*/
	min-height: 130px;
	margin: 10px 0 0;
/*  float: left;*/
	box-shadow: 0px 0px 2px #8F8F8F;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  /*visible on webkit based browser*/
/*
  margin-left: 2%;
  margin-top: 1%;
*/
  padding: 2% 3%;
  animation-name: scontent;
  animation-duration: 2s;
  position: relative;
}

@keyframes scontent {
  0% {
    /*opacity: 0;*/
  	right: -300px;
    bottom: 0px;
  }
  100% {
   /* opacity: 1;*/
    right: 0px;
    top: 0px;
  }
}

.postinfo {
  font-style: italic;
  color: #999;
  font-size:14px;
	padding: 10px 0;
	margin:0;
}

.mainFooter {
  width: 100%;
  /*1% = 10px*/
  padding:5px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  /*visible on mozilla browser*/
  -webkit-border-radius: 5px;
  /*visible on webkit based browser*/
  background-color: #7cc576;
  margin-top: 10px;
}

.mainFooter p {
  width: 50%;
float:left;
  margin: 1% auto;
  color: #FFF;
	padding: 10px;
	margin: 0;
	font-size: 13px;

}

.scrollbackup {
  margin-top: 5px;
  margin-right: 1%;
  color: #FFF;
  float: right;
}

.arrow,
.arrowup {
  float: right;
}

.arrow2,
.arrowup2 {
  float: right;
}

.arrow3,
.arrowup3 {
  float: right;
}


/*.fixed {
	margin-top: -1.5%;
	position: fixed;
	width: 80%;
}*/

.arrow i:hover,
.arrowup i:hover {
  color: #7cc576
}

.arrow2 i:hover,
.arrowup2 i:hover {
  color: #7cc576
}

.arrow3 i:hover,
.arrowup3 i:hover {
  color: #7cc576
}

#home i:hover {
  color: #DEDADA
}


/*contact*/

#contactbody {
  overflow: hidden;

}

#popupdiv {
  width: 100%;
  height: 100%;
  opacity: .95;
  top: 0;
  left: 0;
	z-index: 99;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto;
}

#close {
  position: absolute;
  margin-left: 79.75%;
  margin-top: -3%;
}

#close i:hover {
  color: #DEDADA;
}

#popupContact {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
}

#cform {
  max-width: 400px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  font-family: raleway;
  background-color: #fff;
}

#htwo2 {
		font-family: Arial, 'Lucida Sans Unicode';
  background-color: #666;
  padding: 20px 35px;
  color: #FFF;
  margin: -10px -50px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#cform hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc;
}

#cform input {
  width: 100%;
  padding: 10px;
	font-family: Arial, 'Lucida Sans Unicode';
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 20px;
  font-size: 16px;
}


/*#name {
	
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#email {
	
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}*/

#msg {
  width: 100%;
		font-family: Arial, 'Lucida Sans Unicode';
  height: 95px;
  padding: 10px;
  resize: none;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  /*	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
}

#submit {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #666;
  color: #FFF;
  border: 1px solid #666;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#submit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*portfolio*/

#imgs img {
  /*overlays all the imgs */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
  visibility: hidden;
}


/*the container */

#Snav {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* where the circles are going to be*/

#SnavUp {
  display: block;
  width: 100%;
  height: 20%;
}

#Scircles {
  display: block;
  width: 5%;
  height: 15%;
  margin-right: 5%;
  margin-top: 2%;
  float: right;
  /* is going to be on the right side of the slider*/
}

#Scircles ul {
  margin: 0;
  float: right;
  display: block;
  width: 100%;
  height: 100%;
}

#Scircles li {
  list-style: none;
  display: block;
  background-color: rgba(0, 0, 0, 1);
  width: 25%;
  height: 90%;
  margin-left: 5%;
  float: left;
  /*on the same line*/
  visibility: hidden;
  /* circles*/
  /*border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;*/
}

#SnavMiddle {
  display: block;
  width: 100%;
  height: 15%;
  margin-top: 10%;
}

#imgs img {
  /*overlays all the imgs */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
  visibility: hidden;
}


/*the container */

#Snav {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* where the circles are going to be*/

#SnavUp {
  display: block;
  width: 100%;
  height: 20%;
}

#Scircles {
  display: block;
  width: 5%;
  height: 15%;
  margin-right: 46%;
  margin-top: 2%;
  /*float:right;*/
  /* is going to be on the right side of the slider*/
}

#Scircles ul {
  margin: 0;
  float: right;
  display: block;
  width: 100%;
  height: 100%;
}

#Scircles li {
  list-style: none;
  display: block;
  background-color: rgba(0, 0, 0, 1);
  width: 25%;
  height: 90%;
  margin-left: 5%;
  float: left;
  /*on the same line*/
  visibility: hidden;
  /* circles*/
  /*border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;*/
}

#SnavMiddle {
  display: block;
  width: 100%;
  height: 15%;
  margin-top: 10%;
}


/*left button*/

#Sleft {
  width: 8%;
  height: 100%;
  float: left;
  margin-left: 3%;
  opacity: 0.8;
}


/*button effect*/

#Sleft:hover {
  opacity: 0.8;
  color: #7cc576;
}

#Sright {
  width: 8%;
  float: right;
  margin-right: -1.5%;
  opacity: 0.8;
}

#Sright:hover {
  opacity: 0.8;
  color: #7cc576;
}

#SnavBottom {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 14%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#SnavBottom p {
  font: normal 200% Arial;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 3%;
  margin-bottom: 2%;
  visibility: hidden;
}

#carousel-example-generic .carousel-indicators{bottom:10px !important;}

#home {
  color: #fff;
  position: absolute;
  bottom: 8px;
  right: 10px;
  float: right;
	cursor: pointer;
/*
  margin-right: 3%;
  margin-bottom: 2%;
*/
  /*    visibility:hidden;
*/
  /* margin-top: 2%;
	 margin-left:95%;
	 width: 40px;
	 position:absolute;*/
}

.grey-txt {
  color: #666;
}

.white-txt {
  color: #fff;
}

.brdr-btm {
  border-bottom: 1px solid #e4e4e4;
}

.top-banner {
  padding: 0 0 0px;
}

.pricing-box {
  padding: 0;
}

#slideshow,
.slideshowdiv {
  display: block !important;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Arial, 'Lucida Sans Unicode';
  background-color: black;
}

.navbar-custom .navbar-toggle {
  color: white;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.2);
  /*  font-size: 12px;*/
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: white;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: white;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  margin: 100px 0 0;
  text-align: center;
  color: white;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

#header .navbar-brand {
  padding: 10px 15px !important;
}

#home {
  color: #fff;
  position: absolute;
  bottom: 7px !important;
  right: 10px !important;
  float: right;
  cursor: pointer;
  /*
  margin-right: 3%;
  margin-bottom: 2%;
*/
  /*    visibility:hidden;
*/
  /* margin-top: 2%;
   margin-left:95%;
   width: 40px;
   position:absolute;*/
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

@media (max-width: 991px) {
    .page-title-new h2::after {
    left: 44.5%;
  }
  #mh .title a p {
    font-size: 21px;
  }
  .homepage-menu .navbar-toggle {
    margin: 15px 10px 0 !important;
  }
  #mh .title {
    position: relative;
    z-index: 9;
  }
  #mh .navbar-header {
    background: #7cc576;
  }
  #ppage .title a p {
    font-size: 21px;
  }
  .homepage-menu .navbar-toggle {
    margin: 15px 10px 0 !important;
  }
  #ppage .title {
    position: relative;
    z-index: 9;
  }
  #ppage .navbar-header {
    background: #7cc576;
  }
  .topContent,
  .middleContent,
  .bottomContent {
    margin: 5px 0 0;
  }
  #sidebar .top-sidebar,
  #sidebar .middle-sidebar,
  #sidebar .bottom-sidebar {
    margin: 5px 0 0;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    /*        float: none!important;*/
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  .title {
    margin-bottom: 15px;
    height: auto;
    margin-top: 0;
    padding-bottom: 5px;
  }
  .homepage-menu .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .mainHeader ul li {
    margin: 0 !important;
  }
  .mainHeader nav a:link,
  .mainHeader nav a:visited {
    padding: 10px 40px;
    border-top: 1px solid #fff;
    border-radius: 0;
  }
  .homepage-menu .navbar-toggle {
    background: #fff;
    margin: 0;
  }
  .homepage-menu .navbar-collapse {
    border-top: 0;
    box-shadow: none;
  }
  #mh .title {
    margin-bottom: 0;
    margin-top: 5px;
  }
  #ppage .title {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .mainHeader nav ul {
    border-bottom: 0;
    margin: 0;
  }
  .homepage-menu .navbar-form {
    margin-top: 6px;
    margin-bottom: 0;
  }
  .aboutslider,
  .about-content {
    padding: 10px 0;
  }
  .about-box {
    margin: 10px 0;
  }
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
    .page-title-new h2::after {
    left: 38.5%;
  }
  .price_table {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .homepage-menu .navbar-toggle {
    margin: 5px 10px 5px !important;
  }
  #mh .title {
    margin-top: 13px;
  }
  #mh .title a p {
    font-size: 14px;
    margin: 3% 0% 0% 0%;
  }
  #ppage .title {
    margin-top: 13px;
  }
  #ppage .title a p {
    font-size: 14px;
    margin: 3% 0% 0% 0%;
  }
  .homepage-menu.navbar {
    min-height: auto !important;
  }
  .customnavform {
    float: none !important;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  .intro {
    margin: 70px 0 0;
  }
  .hone {
    font-size: 30px;
    margin: 0 0 22px 0;
  }
  .we-create {
    margin: 0 0 10px;
  }
  .we-create li {
    font-size: 14px;
  }
  .logo {
    width: 100%;
  }
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
  .mainHeader ul li {
    margin: 0;
    width: 100%;
  }
  .mainHeader nav a:link,
  .mainHeader nav a:visited {
    width: 100%;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

